<nav class="navbar navbar-expand-lg">
  <h1>
    <a href="/" class="d-flex align-items-center text-decoration-none">
      <i class="fas fa-dumbbell" role="img">
        <title>Gun Show</title>
      </i>
      <span class="fs-4">Gun Show</span>
      {{!-- </a>Gun Show</a> --}}
  </h1>
  {{! if user is logged in }}
  {{#if loggedIn}}
  {{! then, show dashboard link }}
  <a class="nav-link active" href="/dashboard">Dashboard</a>
  {{! and show logout button/link }}
  {{! use button for logout because will not navigate to page }}
  <button id="logout" class="btn-no-style">Logout</button>
  {{! if user is not logged in }}
  {{else}}
  {{! show login link }}
  <a class="nav-link active" href="/login" class="d-flex align-items-center">Login</a>
  {{! show signup link }}
  <a class="nav-link active" href="/login" class="d-flex align-items-center">Sign up</a>

  {{/if}}
</nav>