<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gun Show</title>
  {{!-- link to bootstrap --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper mx-auto">
    
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
      <h1>
        <a href="/" class="d-flex align-items-center text-decoration-none">
       <i class="fas fa-dumbbell" role="img"><title>Gun Show</title></i>
      <span class="fs-4">Gun Show</span>
    {{!-- </a>Gun Show</a> --}}
      </h1>
      {{> navbar}}
    </header>

    <div class="hero px-4 py-5 text-center">
      <div class="py-5">
        <h1 class="display-5 fw-bold text-white">Welcome to the Gun Show!</h1>
        <div class="col-lg-6 mx-auto">
          <p class="hero-p fs-5 mb-4"><i class="far fa-plus-square"></i>Create and share workouts
            <br />
            Comment on workout posts and engage with community
            <br />
            View workout videos to help you get your ticket to the Gun Show
          </p>
        </div>
      </div>
    </div>

    <main>
      <div class="container">
      {{{ body }}}
      </div>
    </main>
    
    <footer class="footer mt-auto py-3">
      <div class="container">
        <i class="fas fa-dumbbell"role="img"></i><span> Thanks for coming to the Gun Show!</span>
      </div>
    </footer>
  </div>

  {{!-- if user is logged in, then can logout --}}
  {{#if loggedIn}}
  {{!-- link logout.js to main.hbs --}}
  {{!-- can pass variables to other view templates because all variables
  passed into view templates are also passed to main --}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/1223513c02.js" crossorigin="anonymous"></script>
</body>

</html>