<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gun Show</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Gun Show</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{!-- use button for logout because will not navigate to page --}}
        <button id="logout" class="btn-no-style">Logout</button>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for coming to the Gun Show!
    </footer>
  </div>
  
  {{!-- if user is logged in, then can logout --}}
  {{#if loggedIn}}
  {{!-- link logout.js to main.hbs --}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>