{{!-- form to create new post --}}
<section>
    <h2>Create New Workout Post</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-text">Describe your workout</label>
            <input id="post-text" name="post-text" />
        </div>
        <button type="submit" class="btn">Create Workout Post</button>
    </form>
</section>

{{!-- if user has posts, display posts with option to edit --}}
{{#if posts.length}}
<section>
    <h2>Your Workout Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit this post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

{{! right card }}
<form id="yt-form">
            <p><input type="text" id="search-input" placeholder="Let's get physical!" required></p>
            <p><input type="number" id="maxresult-input" placeholder="Max Results" min="1" max="50" required></p>
            <p>
                <select id="order-input" required>
                    <option value="">--SELECT ORDER--</option>
                    <option value="date">Date</option>
                    <option value="rating">Rating</option>
                    <option value="relevance">Relevance</option>
                    <option value="title">Title</option>
                    <option value="viewCount" selected>View Count</option>
                </select>
            </p>
            <p>
                <input type="submit" value="Submit">
            </p>
        </form>
       
        <div id="videoListContainer"></div>

       {{! do the sources run in main? }} 

      <script src="https://apis.google.com/js/api.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
        <script src="js/custom.js"></script>

<script src= '../public/javascript/video.js'></script> 
<script src="https://apis.google.com/js/api.js"></script>
<script src="/javascript/add-post.js"></script>
