<div class="container">
  <div class="row">
    <h2 style='text-align: center'>Your Feed</h2>
    <section class='mb-5 d-flex justify-content-center'>
      <div class="col-lg-6">
        <ul style='list-style-type: none'>
          {{#each posts as |post|}}
          {{!-- <li> --}}
            {{> post-info post}}
            {{!-- </li> --}}
          {{/each}}
        </ul>
    </section>
  </div>
</div>
</div>