<form class="login-form">
  <div class="mb-3">
    <label for="email-login" class="form-label">email:</label>
    <input type="email" id="email-login" class="form-control" placeholder="name@example.com" />
  </div>
  <div class="mb-3">
    <label for="password-login" class="form-label">password:</label>
    <input type="password" id="password-login" class="form-control" />
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary mb-3">login</button>
  </div>
</form>

<form class="signup-form">
  <div class="mb-3">
    <label for="username-signup" class="form-label">username:</label>
    <input type="text" id="username-signup" class="form-control"  placeholder="username" />
  </div>
  <div class="mb-3">
    <label for="email-signup" class="form-label">email:</label>
    <input type="email" id="email-signup" class="form-control" placeholder="name@example.com"/>
  </div>
  <div class="mb-3">
    <label for="password-signup" class="form-label">password:</label>
    <input type="password" id="password-signup" class="form-control" />
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary mb-3">signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>