{{!-- use partial to pull data from post-info.hbs post --}}
{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    {{!-- add category dropdown here --}}
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{!-- import partial for comments --}}
{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/category.js"></script>
{{/if}}